body{
	height:100%;
	margin-left:25%;
	margin-right:25%;
	text-align: center-left;
	width:600px;
	background-image: url("images/backsq.png");
	backround repeat: repeat-y;
font-family: "Palatino",'Helvetica';
	}
	
h1{
	font-family:
color: #ffff55;
font-size: 32px;
}

h2{
	font-family:
color: #ffff55;
font-size: 25px;
}

.banner{
	display: flex;
	color:white;
	background-color: black;
	font-size: 20px;
	border: 2px solid grey;
} 

ul li{
  display: inline;
    padding:10px;
}

.norm{
	border-top:4px solid white;
	color:black;
	background-color:rgb(130,200,200);
	  padding:10px;
}

footer { 
    display: block;
	background-color:grey
}
.gallery {
  margin-top: 20px;
  display: flex, inline;
     justify-content: center; 
	 
}
.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 5px solid #fff;
  width=300px
}
